*{
    background-color: black;
}
div{
    img{
      border: 5px whitesmoke solid;
      width: 250px;
    }
    text-align: center;
    color: white;
    margin-top: 50px;
}
@media(max-width: 600px){
    body{
        font-size: 16px;
    }
    div{
        padding: 10px;
    }
}
.my-video{
    width: 300px;
    height: auto;
}